In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as ec
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
driver = webdriver.Chrome('chromedriver.exe')

# Question 1

In [3]:
driver = webdriver.Chrome('chromedriver.exe')

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [6]:
no = driver.find_elements_by_xpath("//td[@align='center']")
for i in no[0:31]:
    text = i.text
    rank.append(text)
print(rank)

['1.', '8.50', '[B]', '2.', '7.33', '[C]', '3.', '5.30', '[D]', '4.', '5.27', '[E]', '5.', '5.09', '[F]', '6.', '4.43', '[G]', '7.', '4.17', '[H]', '8.', '4.06', '[I]', '9.', '4.01', '10.', '3.99', '11.', '3.81', '12.']

In [7]:
up = driver.find_elements_by_xpath("//td[@align='right']")
for i in up:
    text=i.text
    upload_date.append(text)
print(upload_date)

['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'October 8, 2016', 'April 6, 2015', 'January 31, 2012', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'May 2, 2018', 'March 6, 2014', 'January 14, 2015', 'October 22, 2015', 'September 5, 2013', 'April 5, 2018', 'May 31, 2013', 'October 7, 2014', 'February 20, 2014', 'December 3, 2015', 'August 18, 2014', 'March 22, 2015', 'April 11, 2014', 'May 31, 2018', 'July 25, 2012', 'May 24, 2018', 'June 29, 2017', 'November 9, 2017', 'October 22, 2015', 'June 4, 2010', 'June 16, 2009', '7,037,500,000', 'June 17, 2016', 'November 2, 2020', '2,993,700,000', 'January 12, 2017', 'August 4, 2017', '2,894,000,000', 'April 6, 2015', 'July 10, 2017', '803,700,000', 'July 15, 2012', 'November 24, 2012', '245,400,000', 'February 19, 2010', 'July 16, 2010', '178,400,000', 'November 24, 2009', 'April 14, 2010', '128,900,000', 'May 22, 2007', 'October 25, 2009', '118,900,000', 'April 6, 2006', 'May 2, 2009', '92,600,000', 'February 27, 2007', 'July 17, 2008', '78,400,000', 'April 6, 2006', 'March 15, 2008', '76,600,000', 'April 9, 2007', 'March 1, 2008', '10,600,000', 'April 6, 2006', 'May 19, 2006', '4,300,000', 'November 28, 2005', 'March 12, 2006', '2,700,000', 'January 31, 2006', 'February 18, 2006', '3,400,000', 'December 1, 2005', 'January 21, 2006', '2,300,000', 'December 18, 2005', 'January 9, 2006', '255,000', 'October 21, 2005', 'October 31, 2005', '247,000', 'October 5, 2005', 'October 29, 2005', '1', 'April 23, 2005', 'April 23, 2005']

# Question 2

In [8]:
driver = webdriver.Chrome('chromedriver.exe')

In [9]:
driver.get('https://www.bcci.tv')

In [10]:
international = WebDriverWait(driver,10).until(ec.element_to_be_clickable((By.XPATH,'//li[@data-nav-index="0"]')))
international.click()
international.find_element_by_xpath('.//a[contains(text(),"Fixtures")]').click()

In [11]:
match_title = []
series = []
venue = []
time = []

In [12]:
for i in driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]'):
        match_title.append(i.text)

In [13]:
match_title

['Final', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [14]:
for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]'):
        series.append(i.text)

In [15]:
series

['ICC WORLD TEST CHAMPIONSHIP FINAL',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [17]:
for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span[1]'):
    venue.append(i.text)

In [18]:
venue

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [19]:
tme = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in tme:
    time.append(i.text)

In [20]:
time

['15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [21]:
schedule=pd.DataFrame({})
schedule["Match title"] = match_title
schedule["Series"] = series
schedule["Place"] = venue[3:]
schedule["Time"] = time
schedule

,Match title,Series,Place,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST

# Question 4

In [81]:
driver = webdriver.Chrome('chromedriver.exe')

In [82]:
driver.get('http://statisticstimes.com')

In [83]:
element = driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]')     
driver.get(element.get_attribute('href'))

In [84]:
state_filter = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')  
driver.get(state_filter.get_attribute('href'))

In [85]:
rank = []
state = []
gsdp18_19 = []
gsdp17_18 = []
share = []
gdp = []

In [86]:
sr_no = driver.find_elements_by_xpath('//td[@class="data1"]')
for i in sr_no:
    rank.append(i.text)

In [88]:
rank[0:33]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [89]:
stte = driver.find_elements_by_xpath('//td[@class="name"]')
for i in stte:
    state.append(i.text)

In [90]:
state[0:33]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [91]:
gsdp1 = driver.find_elements_by_xpath('//td[@class="data"]')
for i in gsdp1:
    gsdp18_19.append(i.text)

In [92]:
gsdp18_19[0:33]

['-',
 '13.88%',
 '398.145',
 '-',
 '2,039,074',
 '1,845,853',
 '8.59%',
 '246.529',
 '1,312,929',
 '1,215,307',
 '1,687,818',
 '8.35%',
 '239.656',
 '1,166,817',
 '1,123,982',
 '-',
 '7.92%',
 '227.276',
 '-',
 '1,186,379',
 '1,631,977',
 '7.87%',
 '225.798',
 '1,156,039',
 '1,091,077',
 '1,253,832',
 '5.75%',
 '164.820',
 '793,223',
 '739,525',
 '1,020,989',
 '4.97%',
 '142.543']

In [93]:
gsdp2 = driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
for i in gsdp2:
    gsdp17_18.append(i.text)

In [94]:
gsdp17_18[0:33]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [95]:
share_perc = driver.find_elements_by_xpath('//tr[@class="odd"]/td[5]')
for i in share_perc:
    share.append(i.text)

In [96]:
share[0:33]

['13.88%',
 '8.35%',
 '7.87%',
 '4.97%',
 '4.54%',
 '4.12%',
 '3.87%',
 '2.77%',
 '1.67%',
 '1.57%',
 '0.82%',
 '0.39%',
 '0.22%',
 '0.18%',
 '0.15%',
 '0.13%',
 '-',
 '13.90%',
 '8.37%',
 '7.88%',
 '5.03%',
 '4.62%',
 '4.21%',
 '3.97%',
 '2.81%',
 '1.68%',
 '1.59%',
 '0.79%',
 '0.39%',
 '0.22%',
 '0.18%',
 '0.15%',
 '0.13%']

In [97]:
gdp1 = driver.find_elements_by_xpath('//tr[@class="odd"]/td[6]')
for i in gdp1:
    gdp.append(i.text)

In [98]:
gdp[0:33]

['398.145',
 '239.656',
 '225.798',
 '142.543',
 '130.210',
 '118.206',
 '111.024',
 '79.601',
 '47.769',
 '44.945',
 '23.584',
 '11.065',
 '6.369',
 '5.063',
 '4.215',
 '3.721',
 '-',
 '-',
 '1,015,735',
 '-',
 '630,693',
 '595,605',
 '-',
 '514,983',
 '374,015',
 '-',
 '210,837',
 '107,171',
 '56,810',
 '-',
 '23,564',
 '17,060',
 '-']

In [99]:
states = pd.DataFrame({})
states['rank'] = rank[0:33]
states['state'] =state[0:33]
states['share'] =share[0:33]
states['GSDP(18-19)'] = gsdp18_19[0:33]
states['GSDP(17-18)'] = gsdp17_18[0:33]
states['gdp'] = gdp[0:33]

states.head()

  rank          state   share GSDP(18-19) GSDP(17-18)      gdp
0    1    Maharashtra  13.88%           -   2,632,792  398.145
1    2     Tamil Nadu   8.35%      13.88%   1,630,208  239.656
2    3  Uttar Pradesh   7.87%     398.145   1,584,764  225.798
3    4        Gujarat   4.97%           -   1,502,899  142.543
4    5      Karnataka   4.54%   2,039,074   1,493,127  130.210

# Question 6

In [ ]:
song = []
artist = []
lw_rank = []
p_rank = []
duration = []

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')

In [ ]:
driver.get("https://www.billboard.com")

In [ ]:
driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']/div[@class='header__main-menu__wrapper flex--grow']/ul/li[1]/a").click()

In [ ]:
driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div").click()

In [ ]:
name = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in name:
    song.append(i.text)

In [ ]:
song[:10]

In [ ]:
singer = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in singer:
    artist.append(i.text)#appending artist name

In [ ]:
artist[:10]

In [ ]:
lw = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lw:
    lw_rank.append(i.text)#appending last week rank

In [ ]:
lw_rank[:10]

In [ ]:
pr = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pr:
    p_rank.append(i.text)#appending peak rank

In [ ]:
p_rank[:10]

In [ ]:
weeks = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    duration.append(i.text)#appending weeks on board

In [ ]:
duration[:10]

In [ ]:
billboard = pd.DataFrame({})
billboard['Track_Name']=song
billboard['Artist']=artist
billboard['Last_Week_Rank']=lw_rank
billboard['Peak_Rank']=p_rank
billboard['Weeks_On_Chart']=duration

billboard.head()

# Question 7

In [56]:
driver = webdriver.Chrome("chromedriver.exe")

In [57]:
driver.get('https://www.naukri.com/')

In [58]:
name  = []
designation  = []
company  = []
skills   = []
location = []

In [59]:
Recruiters = driver.find_element_by_xpath("//li/a [@title = 'Search Recruiters']")

In [60]:
href = Recruiters.get_attribute('href')
driver.get(href)

In [61]:
search = driver.find_element_by_xpath("//div[@class= 'inpWrap']/ input [@class = 'sugInp']")
search.send_keys("Data science")

In [62]:
search_btn = driver.find_element_by_xpath("//button[@class = 'fl qsbSrch blueBtn']")
search_btn.click()

In [63]:
for b in range(1,25):
    rec_name = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='fl ellipsis']")
    for i in rec_name:
        name.append(i.text)

In [64]:
name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Priya Khare',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Radha Manivasagam',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 ...]

In [65]:
for b in range(1, 25):
    rec_title = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")
    for i in rec_title:
        designation.append(i.text)

In [66]:
designation[:10]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director']

In [67]:
for b in range(1,25):
    comp_name = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
    for i in comp_name:
        company.append(i.text)

In [68]:
company[:10]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India']

In [69]:
for b in range(1,25):
    locatn = driver.find_elements_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a")
    for i in locatn:
        location.append(i.text)

In [70]:
location

[]

In [71]:
for b in range(1,25):
    sk = driver.find_elements_by_xpath("//div[@class='recInfo']//div[@class='hireSec highlightable']")
    for i in sk:
        skills.append(i.text)

In [72]:
skills[:10]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil']

In [73]:
naukri = pd.DataFrame({})
naukri['Name'] = name[0:25]
naukri['Desg'] = designation[0:25]
naukri['company'] = company[0:25]
naukri['skills'] = skills[0:25]

naukri.head()

,Name,Desg,company,skills
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."

# Question 8

In [40]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [41]:
book = []
rec = driver.find_elements_by_xpath("//td[@class='left'][2]")
for i in rec:
    text = i.text
    book.append(text)
book[:10]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition"]

In [42]:
author = []
rec = driver.find_elements_by_xpath("//td[@class='left'][3]")
for i in rec:
    text = i.text
    author.append(text)
author[:10]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.']

In [43]:
vol_sold = []
rec = driver.find_elements_by_xpath("//td[@class='left'][4]")
for i in rec:
    text = i.text
    vol_sold.append(text)
vol_sold[:10]

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264']

In [44]:
publisher = []
rec = driver.find_elements_by_xpath("//td[@class='left'][5]")
for i in rec:
    text = i.text
    publisher.append(text)
publisher[:10]

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury']

In [45]:
genre = []
rec = driver.find_elements_by_xpath("//td[@class='last left']")
for i in rec:
    text = i.text
    genre.append(text)
genre[:10]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction"]

In [46]:

novels = pd.DataFrame()
novels['Book Name'] = book
novels['Author Name'] = author
novels['Volume sold'] = vol_sold
novels['Publisher'] = publisher
novels['Genre'] = genre
novels

,Book Name,Author Name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9

In [47]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')

In [48]:
name = []
code = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in code:
    text = i.text
    name.append(text)
name[:10]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow']

In [49]:
year = []
code = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in code:
    text = i.text
    year.append(text)
year[:10]

['(20112019)',
 '(2016 )',
 '(20102022)',
 '(20172020)',
 '(20142020)',
 '(20132019)',
 '(2017 )',
 '(2005 )',
 '(2014 )',
 '(20122020)']

In [50]:
genre = []
code = driver.find_elements_by_xpath("//span[@class='genre']")
for i in code:
    text = i.text
    genre.append(text)
genre[:10]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime']

In [51]:
time = []
code = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in code:
    text = i.text
    time.append(text)
time[:10]

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min']

In [52]:
rating = []
code = driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
for i in code:
    text = i.text
    rating.append(text)
Rating = []
Rating = rating[0:-1:23]
Rating[:10]

['9.3', '8.7', '8.2', '7.6', '7.6', '8', '6.9', '7.6', '7.7', '7.5']

In [53]:
votes = []
code = driver.find_elements_by_xpath("//p[4][@class='text-muted text-small']/span[2]")
for i in code:
    text = i.text
    votes.append(text)
votes[:10]

['1,805,372',
 '849,967',
 '868,868',
 '260,580',
 '221,582',
 '281,537',
 '123,622',
 '258,232',
 '311,799',
 '411,070']

In [55]:
imdb = pd.DataFrame()
imdb['Name']=name
imdb['Year']=year
imdb['Genre']=genre
imdb['Runtime']=time
imdb['Rating']=Rating
imdb['Votes']=votes
imdb

,Name,Year,Genre,Runtime,Rating,Votes
0,Game of Thrones,(20112019),"Action, Adventure, Drama",57 min,9.3,"1,805,372"
1,Stranger Things,(2016 ),"Drama, Fantasy, Horror",51 min,8.7,"849,967"
2,The Walking Dead,(20102022),"Drama, Horror, Thriller",44 min,8.2,"868,868"
3,13 Reasons Why,(20172020),"Drama, Mystery, Thriller",60 min,7.6,"260,580"
4,The 100,(20142020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,582"
...,...,...,...,...,...,...
95,Reign,(20132017),"Drama, Fantasy",42 min,7.5,"44,267"
96,A Series of Unfortunate Events,(20172019),"Adventure, Comedy, Drama",50 min,7.8,"54,720"
97,Criminal Minds,(20052020),"Crime, Drama, Mystery",42 min,8.1,"165,828"
98,Scream: The TV Series,(20152019),"Comedy, Crime, Drama",45 min,7.2,"34,633"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,672"

# Question 10

In [74]:
driver = webdriver.Chrome("chromedriver.exe")

In [75]:
driver.get('https://archive.ics.uci.edu/')